<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%- indexTemplateTitle %></title>
    <link rel="stylesheet" type="text/css" href="<%- swaggerThemeFile %>" />
    <link
      rel="icon"
      type="image/png"
      href="./favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="./favicon-16x16.png"
      sizes="16x16"
    />
    <style>
      html {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }
      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }
      body {
        margin: 0;
        background: #fafafa;
      }

      .swagger-ui .information-container .info__contact {
        display: none;
      }

      .login-wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 100vh;
        width: 100%;
      }

      .login-wrapper #login-header {
        text-align: center;
        width: 100%;
      }

      .login-form-wrapper {
        margin-bottom: 20rem;
        max-width: calc(100% - 4rem);
        width: 300px;
      }

      .login-form-wrapper input {
        width: 100%;
      }

      .login-form-field::placeholder {
        color: #3a3a3a;
      }

      .login-form-field {
        border: none;
        border-bottom: 1px solid #3a3a3a;
        margin-bottom: 10px;
        border-radius: 3px;
        outline: none;
        padding: 0px 0px 5px 5px;
      }

      #login-form-submit {
        width: 100%;
        padding: 7px;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        background-color: #3a3a3a;
        cursor: pointer;
        outline: none;
      }

      .hidden {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="login-wrapper" class="login-wrapper hidden">
      <div class="login-form-wrapper">
        <h1 id="login-header">Login</h1>
        <form id="login-form">
          <input
            type="text"
            name="username"
            id="username-field"
            class="login-form-field"
            placeholder="Username"
          />
          <input
            type="password"
            name="password"
            id="password-field"
            class="login-form-field"
            placeholder="Password"
          />
          <input type="submit" value="Login" id="login-form-submit" />
        </form>
      </div>
    </div>
    <div id="swagger-ui" class="hidden"></div>

    <script src="./swagger-ui-bundle.js"></script>
    <script src="./swagger-ui-standalone-preset.js"></script>
    <script>
      window.onload = function () {
        const token = getCookie('_simpel-auth');

        if (token) {
          // Build a system
          renderSwaggerUI();

          document.getElementById('swagger-ui').classList.remove('hidden');
        } else {
          document.getElementById('login-wrapper').classList.remove('hidden');
        }

        const loginForm = document.getElementById('login-form');
        const loginButton = document.getElementById('login-form-submit');

        loginButton.addEventListener('click', e => {
          e.preventDefault();
          const username = loginForm.username.value;
          const password = loginForm.password.value;

          if (username !== '' && password !== '') {
            doLogin(username, password);
          }
        });
      };

      function setCookie(name, value, hours) {
        let expires = '';
        if (hours) {
          const date = new Date();
          date.setTime(date.getTime() + hours * 60 * 60 * 1000);
          expires = '; expires=' + date.toUTCString();
        }
        document.cookie = name + '=' + (value || '') + expires + '; path=/';
      }

      function getCookie(name) {
        const nameEQ = name + '=';
        const ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == ' ') c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) == 0)
            return c.substring(nameEQ.length, c.length);
        }
        return null;
      }

      function eraseCookie(name) {
        document.cookie =
          name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      }

      function doLogin(username, password) {
        const http = new XMLHttpRequest();
        const url = '<%- process.env.AUTH_URL %>';

        http.onreadystatechange = function () {
          if (http.readyState == XMLHttpRequest.DONE) {
            const resp = JSON.parse(http.response);

            if (http.status !== 200) {
              alert(resp.message);
            } else {
              alert('Berhasil login.');
              setCookie('_simpel-auth', resp.item?.token, 6);
              document.getElementById('login-wrapper').classList.add('hidden');
              document.getElementById('swagger-ui').classList.remove('hidden');

              renderSwaggerUI();
            }
          }
        };

        http.open('POST', url);
        http.setRequestHeader('Content-Type', 'application/json');
        http.send(
          JSON.stringify({
            username,
            password,
          }),
        );
      }

      function renderSwaggerUI() {
        const ui = SwaggerUIBundle({
          url: '<%- openApiSpecUrl %>',
          dom_id: '#swagger-ui',
          deepLinking: true,
          docExpansion: 'none',
          filter: true,
          defaultModelsExpandDepth: 0,
          defaultModelExpandDepth: 0,
          presets: [
            SwaggerUIBundle.presets.apis,
            // SwaggerUIStandalonePreset
            SwaggerUIStandalonePreset.slice(1), // Disable the top bar
          ],
          plugins: [SwaggerUIBundle.plugins.DownloadUrl],
          layout: 'StandaloneLayout',
        });

        const token = getCookie('_simpel-auth');

        if (token) {
          ui.authActions.preAuthorizeImplicit({
            auth: {
              schema: {
                type: 'http',
                in: 'header',
                name: 'Authorization',
                get: function (key) {
                  return this[key];
                },
                scheme: 'bearer',
              },
              name: 'bearerAuth',
              value: token,
            },
            token: {},
            isValid: true,
          });

          ui.authActions.pre;
        }

        ui.authActions.logout = payload => {
          eraseCookie('_simpel-auth');

          ui.authActions.showDefinitions(false);
          alert('Berhasil logout.');
          document.getElementById('login-wrapper').classList.remove('hidden');
          document.getElementById('swagger-ui').classList.remove('hidden');
        };

        window.ui = ui;
      }
    </script>
  </body>
</html>
